################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Applications/ExcelReaderApp/obj
/.vs
*.vspscc
/SMS/bin/Debug
/SMS/obj/Debug
/bin
/obj
/packages